# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [10]:
# Load pandas and the data
import pandas as pd
import numpy as np

In [11]:
# show how many rows and columns are in this datas
ride = pd.read_csv('/content/ride_sharing.csv')
num_rows, num_columns = ride.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 25760
Number of columns: 10

In [12]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
ride['duration'] = ride['duration'].str.strip(' minutes')
ride['duration'] = ride['duration'].astype('int64')

In [13]:
# Now display the datatypes in the updated dataframe
print(ride.dtypes)

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [14]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
min_duration = ride['duration'].min()
print("Shortest ride duration:", min_duration, "minutes")

max_duration = ride['duration'].max()
print("Longest ride duration:", max_duration, "minutes")

Shortest ride duration: 1 minutes
Longest ride duration: 1372 minutes

In [15]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
short_rides_df = ride.query('duration<= 60')

print(short_rides_df.head())

   duration  station_A_id                                     station_A_name  \
0        12            81                                 Berry St at 4th St
1        24             3       Powell St BART Station (Market St at 4th St)
2         8            67  San Francisco Caltrain Station 2  (Townsend St...
3         4            16                            Steuart St at Market St
4        11            22                              Howard St at Beale St

   station_B_id                   station_B_name  bike_id  user_type  \
0           323               Broadway at Kearny     5480          2
1           118  Eureka Valley Recreation Center     5193          2
2            23    The Embarcadero at Steuart St     3652          3
3            28     The Embarcadero at Bryant St     1883          1
4           350             8th St at Brannan St     4626          2

   user_birth_year user_gender  tire_size
0             1959        Male         26
1             1965        Male         27
2             1993        Male         29
3             1979        Male         26
4             1994        Male         27

In [16]:
# Now show both the min and max values of the duration column for your new dataset.
min_duration_short_rides = short_rides_df['duration'].min()
print("Shortest ride duration in the filtered data set:", min_duration_short_rides,"minutes")

max_duration_short_rides = short_rides_df['duration'].max()
print("Longest ride duration in the filtered data set:", max_duration_short_rides,"minutes")

Shortest ride duration in the filtered data set: 1 minutes
Longest ride duration in the filtered data set: 60 minutes

In [17]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
short_rides_df = short_rides_df.query('tire_size == 26')

print(short_rides_df.head())

    duration  station_A_id                                     station_A_name  \
0         12            81                                 Berry St at 4th St
3          4            16                            Steuart St at Market St
6         16            67  San Francisco Caltrain Station 2  (Townsend St...
9          5            30     San Francisco Caltrain (Townsend St at 4th St)
12         7             3       Powell St BART Station (Market St at 4th St)

    station_B_id                station_B_name  bike_id  user_type  \
0            323            Broadway at Kearny     5480          2
3             28  The Embarcadero at Bryant St     1883          1
6            107         17th St at Dolores St     1035          2
9             62   Victoria Manalo Draves Park      333          1
12            27       Beale St at Harrison St     1863          3

    user_birth_year user_gender  tire_size
0              1959        Male         26
3              1979        Male         26
6              1981        Male         26
9              1994        Male         26
12             1998        Male         26

In [18]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
female_riders_count = short_rides_df.query('user_gender == "FEMALE"').count()

print("Number of records with FEMALE riders:", female_riders_count['user_gender'])

Number of records with FEMALE riders: 0

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [38]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
dupes = pd.read_csv('/content/more-messy-data.csv')

print(dupes.duplicated().sum())

287

In [39]:
# Next, remove all duplicate rows using Python.
dupes = dupes.drop_duplicates()

In [40]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.
columns_to_fill = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']


for column in columns_to_fill:

    dupes[column] = pd.to_numeric(dupes[column], errors='coerce')

    column_mean = dupes[column].mean(skipna=True)

    dupes[column].fillna(column_mean, inplace=True)

print(dupes)

       id  sepal_length  sepal_width  petal_length  petal_width     species
0       1      3.500000      2.90000           1.4       0.5000   virginica
1       2      3.600000      3.20000           3.0       0.5000      setosa
2       3      3.800000      2.98876           2.2       1.5000      setosa
3       4      5.800000      2.70000           2.6       1.2000   virginica
4       5      4.900000      3.60000           3.0       1.2000   virginica
...   ...           ...          ...           ...          ...         ...
1311  412      4.522004      3.60000           2.9       0.5000  Versicolor
1312  413      5.800000      2.70000           2.0       0.1000  Versicolor
1313  414      3.300000      3.70000           1.3       2.8000  Versicolor
1314  415      3.100000      2.98876           1.1       1.5574  Versicolor
1315  416      4.300000      2.50000           1.3       1.0000  Versicolor

[1029 rows x 6 columns]

In [44]:
# Find any values in the dataframe that are still missing, and delete them.
missing_rows = dupes.isnull().any(axis=1)

dupes_cleaned = dupes[~missing_rows]

print(dupes_cleaned.shape)

(963, 6)

In [45]:
# How many different species are there?
num_species = len(dupes['species'].unique())

print("Number of different species:", num_species)

Number of different species: 11

In [47]:
# Clean up the 'species' variable so that there are exactly three different values.
species_mapping = {
    'similar_species_1': 'new_species_1',
    'similar_species_2': 'new_species_2',
    'similar_species_3': 'new_species_3',

}

dupes['species'] = dupes['species'].map(species_mapping).fillna(dupes['species'])

print(dupes['species'].unique())

['virginica' 'setosa' 'Versicolor' 'setoso' nan 'Viginica' 'Virginia'
 'Virginica' 'Setosa' 'Setosan' 'versicolor']

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [ ]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))